<header>
    <a href="/index" id="logo-and-title">
    {{ $logoUrl := index .Site.Params "logoUrl" }}
    <div class="site-logo">
      {{ if $logoUrl }} <img class="site-logo" src="{{ $logoUrl }}" />{{ end }}
    </div>
        </a>

        <div id="head">
            <h1 class="menu-item menu-item-position"><a class="author" href="https://duraki.github.io/about.html">halis duraki</a></h1> /
            <h1 class="menu-item menu-item-position"><a class="author" href="https://duraki.github.io/reports.html">security rep+</a></h1> / 
            <h1 class="menu-item menu-item-position"><a class="author" href="https://duraki.github.io/consulting/">consulting</a></h1> / 
            <h1 class="menu-item menu-item-position"><a class="author" href="https://duraki.github.io/">blog</a> </h1> /
            <h1 class="menu-item menu-item-position"><a class="author" href="/">~ notes</a></h1> <br /> 
        </div>

        {{- partial "search-form.html" . -}}
</header>
